
body{
	background-color: #f5f5f5;
}
.container{
	box-shadow: 0px 0px 1px #bbb;
	background-color: #fff;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,800);
@font-face {
    font-family: Chunkfive;
    src: url(fonts/Chunkfive.otf);
}
h1{
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	text-transform: uppercase;
	font-style: italic;
}
.chapter__section .panel{
	border-radius: 0px;
	border:0;
	margin-bottom: 0;
}
.panel-default > .panel-heading {
	border-radius: 0px;
	border:0;
}
.panel-heading .chapter__title{
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	text-transform: uppercase;
	font-size: 32px;
	color: rgb(251,229,159);
	margin-left: 200px;
}
.panel-body .body__title{
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	text-transform: uppercase;
	font-size: 46px;
	font-style: italic;

}
.chapter__number{
	position: absolute;
    z-index: 11;
    left: 40px;
    font-size: 72px;
    top: -50px;
    font-family: Chunkfive;
    font-weight: normal;
}
.trapezoid-crema .chapter__number{
	color: #DA0000;
}
.panel-body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
}
.bg_crema{background: rgb(251,229,159);}
.bg_cielo{background: rgb(148,212,227);}
.bg_rosado{background: rgb(230,156,180);}
.bg_azul{background: rgb(49,97,180);}

.bg_crema .body__title{color: rgb(241,71,77);}
.bg_crema .panel-body{color: rgb(0,0,0);}

.bg_cielo .body__title{color: rgb(49,97,180);}
.bg_cielo .panel-body{color: rgb(0,0,0,0);}

.bg_rosado .body__title{color: rgb(129,58,162);}
.bg_rosado .panel-body{color: rgb(0,0,0,0);}

.bg_azul .body__title{color: rgb(251,229,159);}
.bg_azul .panel-body{color: rgb(255,255,255);}


.txt_crema{color: rgb(251,229,159);}
.txt_morado{color: rgb(129,58,162);}
.txt_rojo{color: rgb(241,71,77);}
.txt_azul{color: rgb(49,97,180);}

.txt_negro{color: rgb(0,0,0);}
.txt_blanco{color: rgb(255,255,255);}

.ribb_verde{
	display: inline-block;
  width: calc(100% + 20px);
  height: 60px;
  line-height: 50px;
  text-align: center;
  margin-right: -10px;
  position: relative;
  text-align: left;
	background: rgb(77,189,144); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(77,189,144,1) 85%, rgba(114,226,181,1) 92%, rgba(114,226,181,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(77,189,144,1) 85%,rgba(114,226,181,1) 92%,rgba(114,226,181,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(77,189,144,1) 85%,rgba(114,226,181,1) 92%,rgba(114,226,181,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4dbd90', endColorstr='#72e2b5',GradientType=1 ); /* IE6-9 */
}
.ribb_verde:after {
  content: "";
  position: absolute;
  height: 0;
  width: 0 !important;
  border-top: 15px solid #255B45;
  border-right: 20px solid transparent;
  right: 0 ;
  bottom: -15px;
}	
.ribb_rojo{display: inline-block;
  width: calc(100% + 20px);
  height: 60px;
  line-height: 50px;
  text-align: center;
  margin-right: -10px;
  position: relative;
  text-align: left;
	background: rgb(241,71,77);
	background: -moz-linear-gradient(left, rgba(241,71,77,1) 83%, rgba(251,227,158,1) 100%);
	background: -webkit-linear-gradient(left, rgba(241,71,77,1) 83%,rgba(251,227,158,1) 100%);
	background: linear-gradient(to right, rgba(241,71,77,1) 83%,rgba(251,227,158,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1474d', endColorstr='#fbe39e',GradientType=1 );
}
.ribb_rojo:after {
  content: "";
  position: absolute;
  height: 0;
  width: 0 !important;
  border-top: 15px solid #732225;
  border-right: 20px solid transparent;
  right: 0;
  bottom: -15px;
}	
.ribb_limon{display: inline-block;
  width: calc(100% + 20px);
  height: 60px;
  line-height: 50px;
  text-align: center;
  margin-right: -10px;
  position: relative;
  text-align: left;
	background: rgb(109,189,77);
	background: -moz-linear-gradient(left, rgba(109,189,77,1) 83%, rgba(144,224,112,1) 100%);
	background: -webkit-linear-gradient(left, rgba(109,189,77,1) 83%,rgba(144,224,112,1) 100%);
	background: linear-gradient(to right, rgba(109,189,77,1) 83%,rgba(144,224,112,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6dbd4d', endColorstr='#90e070',GradientType=1 );
}
.ribb_limon:after {
  content: "";
  position: absolute;
  height: 0;
  width: 0 !important;
  border-top: 15px solid #265E48;
  border-right: 20px solid transparent;
  right: 0;
  bottom: -15px;
}	
.ribb_crema {
  display: inline-block;
  width: calc(100% + 20px);
  height: 60px;
  line-height: 50px;
  text-align: center;
  margin-right: -10px;
  position: relative;
  text-align: left;
  background: rgb(240,175,29);
  background: -webkit-linear-gradient(left, rgba(240,175,29,1) 83%, rgba(251,228,156,1) 100%);
  background: -o-linear-gradient(left, rgba(240,175,29,1) 83%, rgba(251,228,156,1) 100%);
  background: linear-gradient(to right, rgba(240,175,29,1) 83%, rgba(251,228,156,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0af1d', endColorstr='#fbe49c',GradientType=1 );
}
.ribb_crema:after {
  content: "";
  position: absolute;
  height: 0;
  width: 0 !important;
  border-top: 15px solid #732225;
  border-right: 20px solid transparent;
  right: 0;
  bottom: -15px;
}
.entry__panel{
	padding: 10px 30px 30px 30px;
}
.panel-body{
	padding: 0;
	overflow: hidden;
}
.panel-body:before{
  content: " ";
  position: relative;
  height: 20px;
  width: 100%;
  right: 0;
  bottom: -15px;
  top: 0;
  border-color: rgba(0,0,0,.1) transparent transparent rgba(0,0,0,.1);
  border-style: solid;
  border-width: 13px 0px 15px 718px;
}
.trapezoid{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 9;
}
.trapezoid-naranja:before{
	content: " ";
	position: relative;
	height: 20px;
	width: 100%;
	left: -25px;
	bottom: 0px;
	top: -27px;
	border-color: transparent transparent #EE840A #EE840A;
	border-style: solid;
	border-width: 95px -0px 30px 192px;
	z-index: 9;
	box-shadow: -7px 10px 1px rgba(0,0,0,.2);
}
.trapezoid-naranja:after{
	content: " ";
	position: absolute;
	height: 20px;
	width: 100%;
	bottom: 0;
	top: -95px;
	border-color: transparent transparent #DA0000 #DA0000;
	border-style: solid;
	border-width: 84px 0px 80px 225px;
	z-index: 8;
	left: -40px;
	box-shadow: -10px 10px 1px rgba(0,0,0,.2);
}

.trapezoid-crema:before{
	content: " ";
	position: relative;
	height: 20px;
	width: 100%;
	left: -25px;
	bottom: 0px;
	top: -27px;
	border-color: transparent transparent #E5DC8B #E5DC8B;
	border-style: solid;
	border-width: 95px -0px 30px 192px;
	z-index: 9;
	box-shadow: -7px 10px 1px rgba(0,0,0,.2);
}
.trapezoid-crema:after{
	content: " ";
	position: absolute;
	height: 20px;
	width: 100%;
	bottom: 0;
	top: -95px;
	border-color: transparent transparent #DA0000 #DA0000;
	border-style: solid;
	border-width: 84px 0px 80px 225px;
	z-index: 8;
	left: -40px;
	box-shadow: -10px 10px 1px rgba(0,0,0,.2);
}

.trapezoid-verde:before{
	content: " ";
	position: relative;
	height: 20px;
	width: 100%;
	left: -25px;
	bottom: 0px;
	top: -27px;
	border-color: transparent transparent rgb(77,189,144) rgb(77,189,144);
	border-style: solid;
	border-width: 95px -0px 30px 192px;
	z-index: 9;
	box-shadow: -7px 10px 1px rgba(0,0,0,.2);
}
.trapezoid-verde:after{
	content: " ";
	position: absolute;
	height: 20px;
	width: 100%;
	bottom: 0;
	top: -95px;
	border-color: transparent transparent #DA0000 #DA0000;
	border-style: solid;
	border-width: 84px 0px 80px 225px;
	z-index: 8;
	left: -40px;
	box-shadow: -10px 10px 1px rgba(0,0,0,.2);
}
.readmore__text,
.readmore__text:visited,
.readmore__text:focus,
.readmore__text:hover{
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	text-transform: capitalize;
	color: rgb(241,71,77);
	position: absolute;
	right: 60px;
	top: 24px;
}
.read_more_panel{
	position: relative;
}
.read_more_panel:after{
	content: url(assets/more.svg);	
	position: absolute;
	top: 0;
	right: -49px;
	width: 100px;
	height: 100px;
}
.intro__section{
	min-height: 200px;
}
.panel__right{
	text-align: center;
}
.panel__left{
	background: transparent;
}
.intro__title{
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	text-transform: capitalize;
	font-size: 48px;
}
.intro__subtitle{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 28px;

}
.panel-footer {
	padding: 10px 30px 100px 30px;
	background-color: transparent;
	border-top: 0px solid #ddd;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}
.footer__section{
	padding-top: 60px;
	position: relative;
	overflow: hidden;
}
.prev-post__link,
.next-post__link{
	float: left;
	background: url(assets/btn_prevnext.svg);
	min-width: 300px;
	height: 130px;
	background-repeat: no-repeat;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	text-decoration: none;
	font-size: 24px;
	display: table;
	color: #007F1E;
	text-decoration: none;
}
.prev-post__link:hover,
.next-post__link:hover{
	color: #359D25;
	text-decoration: none;
}
.next-post__link{
	float: right;
}
.prev-post__link{
	float: left;
}
.prevnext__text{
	display: table-cell;
	text-align: center;
	padding-top: 31px;
}
.arw{
	font-weight: bold;
	padding: 0 5px;
}
.sesgado:after {
	content: " ";
	position: absolute;
	height: 20px;
	width: 100%;
	bottom: 0;
	top: 0px;
	border-color: transparent rgba(0,0,0,.1);
	border-style: solid;
	border-width: 0px 0px 36px 686px;
	z-index: 8;
	left: 0px;
}